# 0. Importações

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from random import randint
import matplotlib.animation as animation

# 1. Introdução

O K-Nearest Neighbors (K-Vizinhos Mais Próximos, em português), é um algoritmo de ML que pode ser utilizado tanto para análises de  classificação como de regressão. Ele se baseia na **proximidade entre os dados** para realizar predições. 

Nesse sentido, a premissa básica do KNN é que *dados similares tendem a estar concentrados na mesma região do espaço de dispersão*. Como exemplo, considere uma sala de aula: os alunos geralmente se separam em grupos e se concentram em determinada região da sala. Assim, podemos concluir que se determinada pessoa está próxima de um grupo, ela provavelmente pertence a ele.

Para avaliar a proximidade entre duas amostras de dados, utilizamos a *distância euclidiana*. Veja abaixo como a distância é calculada no plano. Esse conceito pode ser facilmente estendido para dimensões maiores, ou seja, para amostras com mais de duas caracterísicas.

<img src='imagens/distancia_entre_dois_pontos.png' width='300'>

Voltando para o funcionamento do KNN, considere a imagem a seguir, na qual o quadrado amarelo representa uma nova amostra a ser classificada como pertencente à classe **A** ou **B**. Para isso, seguimos o passo a passo:
- Calculamos a distâcia dela (nova amostra) em relação a todas as outras (suas vizinhas);
- Fazemos uma espécie de *ranking* das amostras vizinhas, com a mais próxima no 1° lugar, a segunda mais próxima no 2° lugar e assim por diante, até a vizinha mais distante;
- Escolhemos uma quantidade **k** de vizinhas (a partir do topo do ranking) e contabilizamos quantas são da classe **A** e quantas são da **B**;
    - Se tivermos mais vizinhas da classe **A**, a amostra é classificada como pertencente à classe **A**;
    - Se tivermos mais vizinhas da classe **B**, a amostra é classificada como pertencente à classe **B**;

<img src='imagens/knn.png' width='300'>

Na escolha da quantidade de vizinhos **k**, é interessante que esta seja ímpar, para evitar empate.

# 2. Dados

Usaremos um dataset com amostras de flores Iris, que podem ser de três tipos: versicolor, setosa ou virginica.

As características ou atributos de cada flor são o comprimento e a largura da sépala e da pétala, ambos em cm.

<img src='imagens/iris_flowers.png' width='700'>

In [16]:
# Dados referentes às características de cada flor. 
amostras = pd.read_csv('dados/iris_flower_amostras.csv')
amostras

     sepal_length  sepal_width  petal_length  petal_length
0             5.1          3.5           1.4            0.2
1             4.9          3.0           1.4            0.2
2             4.7          3.2           1.3            0.2
3             4.6          3.1           1.5            0.2
4             5.0          3.6           1.4            0.2
..            ...          ...           ...            ...
145           6.7          3.0           5.2            2.3
146           6.3          2.5           5.0            1.9
147           6.5          3.0           5.2            2.0
148           6.2          3.4           5.4            2.3
149           5.9          3.0           5.1            1.8

[150 rows x 4 columns]

In [17]:
# Dados referentes à classe de cada flor.
classes = pd.read_csv('dados/iris_flower_classes.csv')
classes

             flower
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [ ]:
# Divisão dos dados em treinamento (75%) e teste (25%).
from sklearn.model_selection import train_test_split
amostras_treino_df, amostras_teste_df, classes_treino_df, classes_teste_df = train_test_split(amostras, classes)